<html>

<head>
    <meta charset="utf-8" />
    <title>X Offline</title>
    <link rel="stylesheet" href="/{{base}}/static/style.css" type="text/css">
    <link rel="manifest" href="/{{base}}/static/x.webmanifest" crossorigin="use-credentials" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000">
    <meta name="theme-color" media="undefined" content="#000000">
    <meta name="mobile-web-app-capable" content="yes">
</head>

<body style="background-color: black;">
    <div id="header">
        <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp r-1nao33i r-16y2uox r-8kz0gk"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>
    </div>
    <div class="nav">
        <a href="/{{base}}?p={{nav[0]}}" class="prev">←</a><div class="nav_indi" onclick="toggle_page_select()">{{nav[1]}}/{{nav[3]}}</div><a href="/{{base}}?p={{nav[2]}}" class="next">→</a>
    </div>
    <div id="users_container" style="padding-top: 6rem;">
        <div class="user" style="display: block; left: 50%; transform: translateX(-50%); margin-left: 0;">
            <img class="background_banner" src="/{{base}}/banner/default"></img>
            <a href="/{{base}}/tl">
                <svg style="fill: #fff; height: 10rem; margin-left: 4rem;" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-lwhw9o r-cnnz9e"><g><path d="M21.591 7.146L12.52 1.157c-.316-.21-.724-.21-1.04 0l-9.071 5.99c-.26.173-.409.456-.409.757v13.183c0 .502.418.913.929.913h6.638c.511 0 .929-.41.929-.913v-7.075h3.008v7.075c0 .502.418.913.929.913h6.639c.51 0 .928-.41.928-.913V7.904c0-.301-.158-.584-.408-.758zM20 20l-4.5.01.011-7.097c0-.502-.418-.913-.928-.913H9.44c-.511 0-.929.41-.929.913L8.5 20H4V8.773l8.011-5.342L20 8.764z"></path></g></svg>
                <div class="nick">Timeline</div>
            </a>
            <div class="desc">Go to timeline.</div>

        </div>
        {% for user in users %}
        <div class="user" id="u_{{user['name']}}">
            <img class="background_banner" src="/{{base}}/banner/{{user['name']}}"></img>
            <a href="/{{base}}/u/{{user['name']}}">
                <img class="avatar" src="/{{base}}/avatar/{{user['name']}}" ></img>
                <div class="nick">{{user["nick"]}}</div>
                <div class="name">@{{user["name"]}}</div>
            </a>
            <div class="desc">{{user["description"]|safe}}</div>

        </div>
        {% endfor %}   
    </div>
    <div id="add_dialog">
        <input id="url_input" type="text"/>
        <div id="confirm_add" onclick="confirm_add()">→</div>
        <span id="info">https://twitter.com/xxx or https://x.com/xxx</span>
    </div>
    <div id="reload_btn" onclick="meta_reload()">⟳</div>
    <div id="add_btn" onclick="toggle_input_dialog()">+</div>
    <div id="page_select">
        {% for p in range(nav[3]) %}
            <a class="page_select_item" {% if (p+1)==nav[1] %} id="selected_item" {% endif %} href="/{{base}}?p={{p+1}}" >{{p+1}}</a>
        {% endfor %}
    </div>
    <script>
        var base = "/{{base}}/";
    </script>
    <script src="/{{base}}/static/script.js"></script>
</body>

</html>