{% for post_id in sorted_posts_id %}
<div class="card" id="p{{post_id}}">
    <div class="card_header">
        <a href="{{url_base}}/user/{{posts[post_id].type}}/{{posts[post_id].user_name}}">
            <img class="card_header_img"
                src="{{url_base}}/avatar/{{posts[post_id].type}}/{{posts[post_id].user_name}}" />
            <div class="header_txt">
                <div class="card_header_title">{{users[posts[post_id].user_name].nick[:20]}}
                    <span class="card_header_name">@{{posts[post_id].user_name}}</span>
                </div>
                <div class="card_header_date">{{posts[post_id].time}}</div>
            </div>
        </a>
    </div>
    <div class="card_body">
        <div class="card_body_text">
            {{posts[post_id].text_content | safe}}
        </div>
        {% for media in media_entries[post_id] %}
        {% if media.isvideo %}
        <div style="position: relative;">
            <a
                onclick="show_media_viewer('{{url_base}}/file/{{posts[post_id].type}}/{{posts[post_id].user_name}}/{{media.file_name}}', true)">
                <img class="card_media"
                    src="{{url_base}}/thumb/{{posts[post_id].type}}/{{posts[post_id].user_name}}/{{media.file_name}}"
                    loading="lazy" style="object-fit: contain;background-color: black;" />
                <div class="video_icon">
                    <img src="{{url_base}}/img/play.svg" />
                </div>
            </a>
        </div>

        {% else %}
        <a
            onclick="show_media_viewer('{{url_base}}/file/{{posts[post_id].type}}/{{posts[post_id].user_name}}/{{media.file_name}}', false)">
            <img class="card_media"
                src="{{url_base}}/file/{{posts[post_id].type}}/{{posts[post_id].user_name}}/{{media.file_name}}"
                loading="lazy" />
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="card_footer">
        <a class="card_footer_item" href="{{posts[post_id].url}}" target="_blank">
            <img src="{{url_base}}/img/like.svg" />
            <span>{{posts[post_id].likes}}</span>
        </a>
        <a class="card_footer_item" href="{{posts[post_id].url}}" target="_blank">
            <img src="{{url_base}}/img/comment.svg" />
            <span>{{posts[post_id].comments}}</span>
        </a>
        <a class="card_footer_item" href="{{posts[post_id].url}}" target="_blank">
            <img src="{{url_base}}/img/repost.svg" />
            <span>{{posts[post_id].reposts}}</span>
        </a>
        <a class="card_footer_item" onclick="add_fav('{{post_id}}')">
            {% if posts[post_id].fav %}
            <img src="{{url_base}}/img/bookmark.svg" id="p{{post_id}}_fav"/>
            {% else %}
            <img src="{{url_base}}/img/bookmark_empty.svg" id="p{{post_id}}_fav"/>
            {% endif %}
        </a>
    </div>
    <a href="{{posts[post_id].url}}" class="card_link" target="_blank">
        <img src="{{url_base}}/img/link.svg" />
    </a>
</div>
{% endfor %}

{% include 'viewer.html' %}