<div id="grid_container">
    {% for twt_id in sorted_posts %}
        {% for img in posts[twt_id]['imgs'] %}
        <a href="/{{base}}/large/{{user['name']}}/{{img}}" class="thumb_grid">
            <img src="/{{base}}/thumb/{{user['name']}}/{{img}}?size=300" loading="lazy"></img>
        </a>
        {% endfor %}
        {% for vid in posts[twt_id]['vids'] %}
        <a href="/{{base}}/large/{{user['name']}}/{{vid}}" class="thumb_grid">
            <div class="vid_c">video</div>
            <img src="/{{base}}/thumb/{{user['name']}}/{{vid}}?size=300" loading="lazy"></img>
        </a>
        {% endfor %}
    {% endfor %}
</div>