<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/{{base}}/static/style.css" type="text/css">
    <link rel="manifest" href="/{{base}}/static/x.webmanifest" crossorigin="use-credentials" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body style="background-color: black;">
    <div id="header_user">
        <a href="/{{base}}/?from={{user['name']}}#u_{{user['name']}}"><svg viewBox="0 0 24 24" aria-hidden="true"
                class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-z80fyv r-19wmn03"
                style="color: rgb(239, 243, 244);">
                <g>
                    <path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z">
                    </path>
                </g>
            </svg></a>

        <div id="title_txt">{{user["nick"]}}</div>
        <div id="post_cnt">{{user["count"]}} posts</div>
    </div>
    <div class="nav">
        <a href="/{{base}}/u/{{user['name']}}?p={{nav[0]}}{{grid_suffix}}" class="prev">←</a>
        <div class="nav_indi" onclick="toggle_page_select()">{{nav[1]}}/{{nav[3]}}</div><a
            href="/{{base}}/u/{{user['name']}}?p={{nav[2]}}{{grid_suffix}}" class="next">→</a>
    </div>

    <div id="content" style="padding-top: 6rem;">
        <div id="cover">
            <img id="banner" src="/{{base}}/banner/{{user['name']}}"></img>
            <img class="avatar_big" src="/{{base}}/avatar/{{user['name']}}"></img>
            <div class="nick">{{user["nick"]}}</div>
            <div class="name">@{{user["name"]}}</div>

            <a id="x_btn" href="https://x.com/{{user['name']}}" target="_blank">To X <span class="hyper">↗️</span> </a>
            <div id="upd_btn" onclick="update('{{user['name']}}')">Update</div>
            <div class="desc">{{user["description"]|safe}}</div>
            <div id="tabs">
                <a class="tab_item" href="/{{base}}/u/{{user['name']}}"> <span> Posts </span>
                    <div class="tab_indi" {% if grid %}style="background: none;" {% endif %}></div>
                </a>
                <a class="tab_item" href="/{{base}}/u/{{user['name']}}?grid"> <span> Media </span>
                    <div class="tab_indi" {% if not grid %}style="background: none;" {% endif %}></div>
                </a>
            </div>
        </div>
        {{ contents_frag|safe }}
        <a id="next_bottom" href="/{{base}}/u/{{user['name']}}?p={{nav[2]}}{{grid_suffix}}">→</a>
    </div>
    <div id="page_select">
        {% for p in range(nav[3]) %}
        <a class="page_select_item" {% if (p+1)==nav[1] %} id="selected_item" {% endif %}
            href="/{{base}}/u/{{user['name']}}?p={{p+1}}{{grid_suffix}}">{{p+1}}</a>
        {% endfor %}
    </div>
    <!-- <div id="img_large_container" onclick="toggle_img_large()">
        <img src="" id="img_large" />
        <a id="download_img" onclick="event.stopPropagation()">⇪</a>
    </div> -->
    <script>
        var base = "/{{base}}/";
        // img_large_container = document.getElementById("img_large_container")
        // setInterval(function () {
        //     if (window.location.hash != "#img_large") {
        //         img_large_container.style.display = "none"
        //         document.body.style.overflow = "scroll"
        //         img_l = 0
        //     }
        // }, 100);
    </script>
    <script src="/{{base}}/static/script.js"></script>
    <script>
        content = document.getElementById("content")
        nav = document.getElementsByClassName("nav")[0]
        window_resize()
        document.body.onresize = window_resize;
    </script>
</body>

</html>